<div class="main">
    <div class="header">
        <h2>Quiz</h2>
    </div>
    <div class="main_body">
        <div class="card" id="card">
            <span>{{ text }}</span>
        </div>
        <div class="input">
            <form class="answer_form" [formGroup]="quiz" (ngSubmit)="onSubmit()">
                <label for="answer">Your answer:</label>
                <input type="text" formControlName="answer">
                <button type="submit" *ngIf="unanswered" [disabled]="quiz.invalid">Submit</button>
                <button type="button" *ngIf="!unanswered" (click)="onNext()">Next</button>
            </form>
        </div>
    </div>
</div>
