.main {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin-bottom: 2em;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
}