<div class="main">
    <form [formGroup]="toDoItemsForm" (ngSubmit)="onX()">
        <table>
            <tr>
                <td class="tbl-todo">
                    <label for="todo">{{ toDoText }}</label>
                </td>
                <td class="tbl-checkbox">
                    <input id="done" type="checkbox" formControlName="done">
                </td>
                <td class="tbl-button">
                    <button type="submit">X</button>
                </td>
            </tr>
        </table>
    </form>
</div>
